.vsg {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.vsg-start {
  cursor: pointer;
}
/* Wrapper and figures */
.vsg .vsg-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.vsg figure {
  position: relative;
  display: inline-block;
  background: rgba(0,0,0,0.05);
  padding: 25px;
  text-align: center;
  margin: 5px;
}
.js .vsg figure {
  position: absolute;
  display: block;
  margin: 0;
}
.vsg-back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.05);
  padding: 25px;
  text-align: left;
  line-height: 24px;
  font-size: 13px;
}
.vsg-back p {
  margin: 0;
  padding: 5px;
  background: #fff;
}
/* Navigation dots */
.vsg nav {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 90;
  text-align: center;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.vsg-start nav {
  opacity: 0;
}
.vsg nav span {
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}
.vsg nav span:last-child {
  margin-right: 0;
}
.vsg nav span.current {
  background: url("flipable.png") no-repeat;
  -webkit-transform: scale(1);
  transform: scale(1);
  height: 33px;
  margin-bottom: -5px;
  width: 33px;
}
.vsg nav span.current.flip {
  /*  -webkit-transform: scale(1) rotateY(-180deg) translateZ(-1px);
    transform: scale(1) rotateY(-180deg) translateZ(-1px);*/
  background: url("flip.png");
}
.vsg nav span.flippable::after {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.js .vsg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.js .vsg-start::before {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.js .vsg::before,
.js .vsg::after {
  opacity: 0;
  visibility: hidden;
}
.js .vsg-start::before,
.js .vsg-start:hover::after,
.touch .vsg-start::after {
  opacity: 1;
  visibility: visible;
}
/* Overlay on figure */
.vsg figure::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: rgba(0,0,0,0.05);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* Hide figure overlay when it becomes current */
figure.vsg-current::after {
  -webkit-transition: opacity 0.6s, visibility 0s 0.6s;
  transition: opacity 0.6s, visibility 0s 0.6s;
  opacity: 0;
  visibility: hidden;
}
/* Special classes for transitions and perspective */
.vsg-transition figure {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.vsg-perspective {
  -webkit-perspective: 1800px;
  perspective: 1800px;
}
.vsg-perspective > vsg-content,
.vsg-perspective figure {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vsg-perspective figure,
.vsg-perspective figure div {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.vsg-perspective figure.vsg-flip {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.csstransformspreserve3d figure.vsg-flip .vsg-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: block;
}
.no-csstransformspreserve3d figure.vsg-showback .vsg-back {
  display: block;
}
.no-js .vsg figure {
  box-shadow: -2px 2px 0 rgba(0,0,0,0.05);
}
.no-js .vsg figure::after {
  display: none;
}
.no-js .vsg figure:nth-child(3n) {
  -webkit-transform: translateX(-10%) rotate(5deg);
  transform: translateX(-10%) rotate(5deg);
}
.no-js .vsg figure:nth-child(3n-2) {
  -webkit-transform: translateY(10%) rotate(-3deg);
  transform: translateY(10%) rotate(-3deg);
}
